.box-container {
    background-image: url('../../../assets/project-photos/career-hub.png');
    background-size: cover;
    background-position: top;
    width: 320px;
    height: 400px;
    transition: all 3s linear;
}
.box-container:hover{
    background-position: bottom;
}